.modal-overflow .modal-body input{
padding: 8px;
border: 2px solid #c6c5c5c5;
color: rgba(0, 0, 0, 0.9);
font-size: 18px;
line-height: 24px;
border-radius: 12px;
width: 95%;
margin-bottom: 12px;
}
.modal-overflow {
    position: fixed; /* Posiciona o modal na tela */
   inset: 0;
   background-color: rgba(0, 0, 0, 0.4);
   overflow: hidden;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 999;
}
.modal-overflow .modal-body{
    background-color: rgb(86, 86, 86);
    padding: 24px;
    height: 60%;
    width: 60%;
    border-radius: 24px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

}

.modal-overflow .modal-body h2{
    font-size: 32px;
}

.modal-overflow .modal-body .input-container{
    width: calc(100%-24px);
}

.modal-body {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}


.modal-overflow .modal-body label{
    color: #242424;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
}

.modal-overflow .modal-body .btn-secundary{
    position: initial;
    width: 100%;
    margin-top: 32px;
}

.modal-overflow .modal-body .btn-secundary:hover{
    background-color: #3a44f8;
    transform: scale(1);
}